.accountform {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 70px;
  margin-bottom: 70px;
}

/* 타이틀 스타일 */
form h2 {
  margin-top: 0;
  text-align: center;
}

/* 입력 필드 스타일 */
form input[type="text"],
form input[type="password"]{
  width: 380px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

#pdNumber {
	width: 400px;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

/* 버튼 스타일 */
.button1,
.button2{
  margin-top: 30px;
  display: inline-block;
  padding: 10px;
  background-color: rgb(121, 136, 223);;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.button1:hover,
.button2:hover{
  background-color: #45a049;
}

/* 에러 메시지 스타일 */
form .error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

/* 링크 스타일 */
form a {
  color: #333;
  text-decoration: none;
}

form a:hover {
  text-decoration: underline;
}
