.container {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.logo {
  width: 100%;
  max-width: 40px;
}

.logotitle {
  font-weight: bold;
  font-size: 30px;
  color: rgb(121, 136, 223);
  margin-top: -6px;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

.loginlogo {
  width: 20px;
  margin-left: -88px;
  position: relative;
  z-index: 1;
}

.loginbutton {
  position: relative;
  z-index: 0;
  background-color: rgb(121, 136, 223);
  border: none;
  border-radius: 5px;
  width: 92px;
  height: 35px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-right: 20px;
}

.menu li {
  margin-left: 25px;
  font-weight: bold;
  font-size: 20px;
}

.search {
  margin-right: 15%;
  width: 250px;
  float: right;
  height: 60px;
}

.searchbox {
  float: right;
  margin-top: -45px;
  height: 30px;
  margin-right: 60px;
}

.searchicon {
  width: 17px;
  height: 17px;
  float: right;
  margin-top: -46px;
  margin-right: 24px;
  background-color: rgba(128, 128, 128, 0.146);
  padding: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#loginText {
  position: absolute;
  top: 60px;
  left: 0;
  right: 230px;
  margin: auto;
  border: 1px solid black;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: white;
}

#loginText a {
  color: inherit;
  text-decoration: none;
}

.menu li a {
  color: inherit;
  text-decoration: none;
}

#bankItem {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0px;
  margin: auto;
  border: 1px solid black;
  width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  background-color: white;
}

#bankItem a {
  color: inherit;
  text-decoration: none;
}

