.menu1 {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: skyblue;
  width: 100px;
  height: 60px;
  text-align: center;
  margin-top: -30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}

.container1 {
  display: flex;
  align-items: center;
  margin: auto;
  max-width: 480px;
  padding: 0 auto;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 50px;
}

.menu2,
.menu4,
.menu6 {
  background-color: rgb(121, 136, 223);
  width: 80px;
  height: 60px;
  margin-top: -30px;
  font-size: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.menu2 {
	text-decoration: none;
	text-decoration-line: none;
}

.menu3,
.menu5 {
	background-color: rgb(121, 136, 223);
	margin-top: -30px;
	 height: 60px;
	color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.menu7 {
  background-color: rgb(215, 214, 214);
  width: 100px;
  height: 60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-top: -30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.sampleboard {
	background-color: green;
	width: 100%;
	height: 1000px;
}

.embla {
  overflow: hidden;
  width: 1100px;
  height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
